# Ignore all files and folders starting with a dot
.*

# But do not ignore the .gitignore file itself
!/.gitignore

# Dependencies
/node_modules

# Parcel cache
/.parcel-cache

# Distribution folder
/dist